/* CONTRIBUTE TO THIS WEBSITE ON OUR GITHUB : https://github.com/homebrewfrance/homebrewfrance.github.io */
/* LAST-EDITED : 08/03/2024 by Dhalian */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap&family=Unbounded:wght@800&display=swap&family=Montserrat:wght@700&display=swap&family=Gabarito&display=swap');

@media only screen and (max-width: 800px) {
	.container-staff {
		flex-direction: column;
		display: flex;
		align-items: center;
	}
	.grid-staff {
		width: 270px;
		margin-left: 10%;
		margin-right: 10%;
	}
	.container-presta {
		flex-direction: column;
	}
	.grid-presta {
		width: 270px;
	}
	.partner-container {
		display: flex;
		flex-direction: column;
	}
	.grid-packs {
		width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 2%;
		margin-right: 2%;
	}
	.grid-presta {
		width:100%;
		margin: 7px;
	}
	.warning {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media only screen and (min-width: 800px) {
	.grid-packs {
		margin: 10px;
		width:auto;
		flex-grow: 1;
	}
	.grid-presta {
		width:300px;
		margin: 8px;
		flex-grow: 1;
	}
	.footer-0 {
		bottom: 0;
		position: fixed;
	}
	.warning {
		padding-left: 70px;
	}
	.grid-presta:hover {
			transform: scale(1.05);
		}
	.grid-packs:hover {
			transform: scale(1.05); 
	}
	.add-infos-shop:hover {
		transform: scale(1.02);
		cursor: pointer;
	}
}		
		.add-infos-shop {
			background: rgb(32,40,55); 
			background: linear-gradient(324deg, rgba(32,40,55,1) 0%, rgba(47,56,74,1) 58%, rgba(80,89,107,1) 100%); 
			border: none; 
			border-radius: 10px; 
			flex-grow: 1; 
			padding: 10px; 
			font-family: 'Unbounded', sans-serif; 
			color: white; font-size: 19px;
			transition: 0.3s;
		}
		.time {
			border-radius: 5px;
			border: none;
			background: rgb(32,40,55);
			padding: 7px;
			transition: 0.3s;
			color: white;
		}
		.time:focus {
			background: linear-gradient(324deg, rgba(32,40,55,1) 0%, rgba(47,56,74,1) 58%, rgba(80,89,107,1) 100%);
			box-shadow: 0px 2px 5px #fff;			
		}
		#pseudo, #autres-rep, #autres-rep2, #motivation, #date-naissance {
			border-radius: 5px;
			border: none;
			background: rgb(32,40,55);
			padding: 7px;
			transition: 0.3s;
			color: white;
		}
		#pseudo:focus, #autres-rep:focus, #autres-rep2:focus, #motivation:focus, #date-naissance:focus, #time:focus, #time2:focus {
			background: linear-gradient(324deg, rgba(32,40,55,1) 0%, rgba(47,56,74,1) 58%, rgba(80,89,107,1) 100%);
			box-shadow: 0px 2px 5px #fff;
		}
		.checkbox-container {
			margin-left: 3%;
		}
		.formulaire-helper {
			width: 450px;
			height: auto;
			padding: 5px;
			margin: 9px;
		}
		input[type="checkbox"] {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			width: 16px;
			height: 16px;
		}
		.cookie-container {
			display: flex;
			flex-direction: row;
		}
		.cookie-banner {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgb(32,40,55);
			background: linear-gradient(324deg, rgba(32,40,55,1) 0%, rgba(47,56,74,1) 58%, rgba(80,89,107,1) 100%);
			color: #fff;
			z-index: 9999;
			width: auto;
			border: none;
			margin: 5px;
			border-radius: 9px;
			padding: 10px;
		}
		.cookie-banner p {
			font-size: 15px;
			margin-top: auto;
			margin-bottom: auto;
			margin-left: auto;
		}
		.cookie-banner-button {
			border: none;
			background-color: #005020;
			color: #ffffff;
			cursor: pointer;
			border-radius: 7px;
			padding: 2px;
			margin-left: 6px;
			transition: 0.4s;
			text-align: center;
		}
		.cookie-banner-button:hover {
			box-shadow: 0px 2px 5px #ffffff;
			background: #005020;
			background: linear-gradient(324deg, #005020 0%, #007f33 58%, #3a9e62 100%);
		}
			
		#email {
			color: black;
		}
		.nav-link {
			font-family: 'Montserrat', sans-serif;
		}
		nav {
			border-radius: 9px;
			border: 0px;
			margin: 5px;
			background: rgb(32,40,55);
			background: linear-gradient(324deg, rgba(32,40,55,1) 0%, rgba(47,56,74,1) 58%, rgba(80,89,107,1) 100%);
		}
		.modern-a {
			font-family: 'Montserrat', sans-serif;
		}
		.title-grid {
			border-radius: 10px;
			border: 0px solid #fff;
			margin: 8px auto;
			background-color: #1C1C1C;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 5px;
			padding-bottom: 5px;
			transition: 0.5s;
		}
		#author {
			font-family: 'Unbounded', cursive;
		}
		#page_name, #footer_type {
			display: none;
		}
		.button-man {
			border: 1px solid white;
			background-color: #607d8b;
			color: white;
			padding: 4px;
			margin: 5px;
		}
		.button-man:hover {
			background-color: #37474f;
		}
		html {
			scroll-behavior: smooth;
		}
		.footerhbfl {
			font-family: 'Unbounded', cursive;
			color: #ffffff;
		}
		a {
			color : #ffffff;
			transition: 0.3s;
		}
		body {
			width:100%;
			background-color:#101628;
			scroll-behavior: smooth;
		}
		p, ul, li, code {
			color: white;
			font-family: 'Nunito', cursive;
			font-size: 17px;
		}
        h1, h2, h3, h4, h5 {
            color: white;
			font-family: 'Montserrat', sans-serif;
	        }
		div.page {
			padding-right: 10%;
			padding-left: 10%;
			width: 100%;
		}
		div.page-forms {
			padding-right: 7%;
			padding-left: 7%;
			width: 100%;
		}
		footer {
			background-color: #202837;
			padding-top: 10px;
			padding-bottom: 7px;
			width: 100%;
			padding: 10px; 
			padding-left: 10%;
			border-top-right-radius: 25px;
			border-top-left-radius: 25px;
			border : none;
		}
		.footer-p {
			text-align: left;
			color: white;
		}
		
		.about {
			text-align: justify;
			padding-left: 150px;
			padding-right: 150px;
		}
		.head {
			background-color:#ffe600;
			color:#000000;
		}
		head {
			position: absolute;
			top: 30px;
			left: 30px;
			text-align: justify;
			padding: 45px;
			color: black;
		}
		img {
    			max-width: 100%;
    			height: auto;
		}
		.hrsmall {
			width: 315px;
		}
		.hrverysmall {
			width: 85px;
		}
		.top {
			padding-top: 5px;
			text-shadow: 2px 2px 4px #000000;
		}
		.indicator {
			color: white;
			padding-left: 70px;
			padding-top: 10px;
			padding-bottom: 10px;
			background: linear-gradient(350deg, rgba(32,40,55,1) 0%, rgba(47,56,74,1) 75%, rgba(94,103,120,1) 120%);
			border-radius: 9px;
			margin: 5px;
			font-size: 19px;
			font-family: 'Unbounded', sans-serif;
		}
		div.gallery {
			border-radius: 15px;
			border: 1px solid #ccc;
			width: 180px;
			background-color: white;
			margin: 8px auto;
			float: left;
		}
		div.gallery:hover {
			border: 1px solid #777;
		}

		div.gallery img {
			width: 100%;
			height: auto;
			border: 1px solid #000;
			border-radius: 15px;
		}	

		div.desc {
			padding: 15px;
			text-align: center;
		}
		table, td {
			border: 1px solid #fff;
			color: white;
			padding: 10px;
			text-align: center;
		}

		thead, tfoot {
			background-color: #333;
			color: #fff;
			text-align: center;
		}
		.hekate {
			margin-top: 25px;
		}
		.os {
			text-align: justify;
		}
		.gallery-title {
			color: black;
			padding-left: 10px;
			padding-right: 10px;
		}
		.gallery-small {
			color: black;
		}
		.img-grid {
			margin-top: 15px;
			border-radius: 50px;
			border: 1px solid #000
		}
		.img-grid-square {
			margin-top: 15px;
			border-radius: 15px;
		}
		.grid-title {
			padding-top: 7px;
			
		}
		.grid {
			width:335px;
			height:250px;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px auto;	
		}
		.grid-desc {
			color: white;
			margin: 3px;
		}
		.grid-small {
			color: white;
		}
		.grid-bigger {
			width:355px;
			height:315px;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px auto;
			text-shadow: 2px 2px 4px #000000;
		}
		.grid-social {
			color: white;
			margin: 3px;
		}
		.credits-name {
			font-family: 'Unbounded', cursive;
		}
		input-checker {
			background-color: #303030;
			border-radius: 7px;
			border: 1px solid #fff;
			margin: 0px;
			height: 60px;
			width: 175px;
		}
		form {  
			color: white;
		}
		.input-checker {
			color:white;
			background-color: #303030;
		}
		.submit {
			color: white;
		}
		.xawselect {
			background-color: #303030;
			border: 1px solid #fff;
			height: 60px;
			width: 80px;
			color: white;
			text-align: center;
			border-radius: 7px;
		}

		/* PACKS */
		.grid-packs {
			height:auto;
			float: left;
			border-radius: 10px;
			border: 0px solid #fff;
			background-color: #202837;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 5px;
			padding-bottom: 5px;
			transition: 0.5s;
			cursor: pointer;
			width: 350px;
			height: auto;
		}
		.grid-packs:hover {
			transform: scale(1.02); 
		}
		
		.container-packs {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
		}
		.packs-btn-container {
			flex-direction: row;
		}
		.man-version {
			border-radius: 10px;
			background-color: #060b1c;
			padding: 6px;
			margin: 3px;
			margin-bottom: 6px;
			color: white;
			border: none;
			font-size: 16px;
			font-family: 'Unbounded', sans-serif;
			transition: 0.3s;
		}
		.packs-dl-btn, .packs-github-btn, .presta-btn, .staff-social-btn, .formulaire-helper-btn {
			border-radius: 10px;
			background-color: #060b1c;
			padding: 6px;
			margin: 3px;
			margin-bottom: 6px;
			color: white;
			border: none;
			font-family: 'Unbounded', sans-serif;
			transition: 0.3s;
			font-size: 16px;
		}
		.packs-dl-btn-disabled {
			border-radius: 10px;
			background-color: #1C1C1C;
			padding: 6px;
			margin: 5px;
			color: rgb(108, 108, 108);
			border: none;
			font-size: 16px;
			font-family: 'Unbounded', sans-serif;
			transition: 0.8s;
		}
		.packs-github-btn:hover, .packs-dl-btn:hover, .presta-btn:hover, .staff-social-btn:hover, .formulaire-helper-btn:hover {
			background: rgb(6,11,28);
			background: linear-gradient(300deg, rgba(6,11,28,1) 0%, rgba(44,45,74,1) 35%, rgba(94,103,120,1) 100%);
			box-shadow: 0px 2px 5px #fff;
		}
		/*///////////////////////////*/
		.container-presta {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 10px;
		}
		.map-container {
			width: 100%;
			height: 20%;
			border-radius: 15px;

		}
		.presta-btn-container {
			flex-direction: row;
			border: 4px;
		}
		.grid-presta:hover {
			transform: scale(1.05);
		}
		.grid-presta {
			height:auto;
			border-radius: 10px;
			border: none;
			text-shadow: 2px 2px 4px #000000;
			background-color: #202837;
			transition: 0.5s;
			padding-bottom: 0%;
			cursor: pointer;
		}
		.grid-presta-hr {
			bottom:0;
			width:100%;
			height: auto;
			padding: 3px;
			color: black;
			font-family: 'Unbounded', sans-serif;
			background-color: white;
			margin-top: 5px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
			text-shadow: none;
			text-align: center;
		}
		.price {
			font-size: 25px;
		}
		.price-strike {
			color: #ABABAB;
		}
		.grid-presta-title {
			padding-top: 7px;
			margin-left: 7px;
			margin-right: 7px;
			
		}

		.container-staff {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}


		.img-staff-grid {
			margin-top: 15px;
			margin-bottom: 15px;
			border-radius: 50px;
			border: 1px solid #fff;
		}
		.forms-btn {
			border-radius: 5px;
			background-color: #303030;
			padding: 6px;
			margin: 3px;
			width: 60%;
			margin-bottom: 6px;
			color: white;
			border: 1px solid #fff;
			font-size: 19px;
			font-family: 'Gabarito', sans-serif;
			transition: 0.3s;
			box-shadow: 0px 2px 5px #000;
		}
		
		.forms-btn-hover:hover {
			width: 100%;			
			background: rgb(6,11,28);
			background: linear-gradient(300deg, rgba(6,11,28,1) 0%, rgba(44,45,74,1) 35%, rgba(94,103,120,1) 100%);
			box-shadow: 0px 2px 5px #fff;
		}
		
		.forms-btn-hover {
			width: 60%;
			border-radius: 10px;
			background-color: #060b1c;
			padding: 6px;
			margin: 3px;
			margin-bottom: 6px;
			color: white;
			border: none;
			font-size: 19px;
			font-family: 'Unbounded', sans-serif;
			transition: 0.6s;
		}
		
		.forms-btn-disabled {
			border-radius: 5px;
			background-color: #282828;
			padding: 6px;
			margin: 3px;
			width: 60%;
			margin-bottom: 6px;
			color: rgb(181, 181, 181);
			border: 1px solid rgb(181, 181, 181);
			font-size: 19px;
			font-family: 'Gabarito', sans-serif;
			transition: 0.3s;
		}
		.forms-btn:hover {
			/*color: black;
			background-color: white;*/
			width: 100%;
			filter: invert(1);
		}
		.grid {
			width:335px;
			height:auto;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px;	
		}
		.grid-presta-desc {
			color: white;
			margin: 3px;
		}
		.grid-presta-small {
			color: white;
		}
		.titles {
			text-shadow: 2px 2px 4px #000000;
			font-size: 24px;
			font-family: 'Unbounded', sans-serif;
		}
		.top-img {
			padding-left: 20%;
			padding-top: 65px;
			padding-bottom: 25px;
			color: white;
			background-image: url(https://hbf-files.github.io/hb_bg.png);
			text-shadow: 2px 2px 4px #000000;
			background-repeat:no-repeat;
			background-size:cover;
			margin: 5px;
			border-radius: 9px;
			border: none;
		}
		.grid-title {
			padding-top: 7px;
			
		}

		.grid-staff-desc {
			color: white;
			margin: 3px;
		}
		.grid-staff-small {
			color: white;
		}
		.grid-staff {
			width:355px;
			height:auto;
			float: left;
			border-radius: 10px;
			border: none;
			margin: 8px auto;
			text-shadow: 2px 2px 4px #000000;
			background-color: #202837;
			padding-left: 15px;
			padding-right: 15px;
		}
		.grid-social {
			color: white;
			margin: 3px;
		}
		.staff-btn-container {
			flex-direction: row;
			margin-bottom: 8px;
			bottom: 4px;
		}
		.social-medias {
			margin-bottom: 4px;
		}
		footer {
			bottom: 0;
		}
		.hr-top {
			background-image: linear-gradient(90deg, #066ddc, #d8d8d8, #ff5558);
			height: 8px;
			margin: 5px;
			border-radius: 10px;
			border: none;
		}
		.hr-top-title {
			background-color: #fff;
			box-shadow: 0px 2px 5px #000;
		}
		.hr-title {
			background-color: #fff;
			box-shadow: 0px 2px 5px #000;
		}
		.warning {
			color: black;
			padding-top: 10px;
			padding-bottom: 10px;
			background: rgb(252,252,138);
			background: linear-gradient(128deg, rgba(252,252,138,1) 0%, rgb(233, 205, 0) 35%);
			border-radius: 9px;
			margin: 5px;
			font-size: 19px;
			font-family: 'Unbounded', sans-serif;
		}
		.gallery-container {
			display: flex;
			flex-direction: row;
			
		}

	.banner-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0;
	border-radius: 9px;
	border: 0px;
	padding-left: 5px;
	padding-right: 5px;
	}

	.slideshow {
	display: flex;
	width: 100%;
	}

	.slideshow:hover {
		cursor: default;
	}

	/*.slide {
	flex-shrink: 0;
	width: 100%;
	}*/

	.slide img {
	width: 100%;
	height: auto;
	}


	.discord-server-link {
		display: flex;
		flex-direction: row;
	}

	.discord-server-image {
		border-radius: 15px;
		opacity: 0.8;
		transition: 0.3s;
		margin: 5px;
	}

	.discord-server-image:hover {
		opacity: 1;
		box-shadow: 0px 2px 5px #fff;
	}

	.discord-server-image-container {
		display: flex;
	}

	.qr-code {
		border-radius: 10px;
		opacity: 0.8;
		transition: 0.3s;
		margin: 5px;
	}

	.qr-code:hover {
		opacity: 1;
		box-shadow: 0px 2px 5px #fff;
	}

	.prev, .next {
	padding: 4px;
	height: 100%;
	font-size: 24px;
	cursor: pointer;
	color: #ffffff;
	transition: 0.3s;
	border:none;
	}

	.prev {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		background: rgb(32,40,55);
		background: linear-gradient(324deg, rgba(32,40,55,1) 0%, rgba(47,56,74,1) 58%, rgba(80,89,107,1) 100%);
	}
	.next {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		background-color: #202837;
	}
	.next:hover {
		background-color: #293447;
	}
	.prev:hover {
		background: rgb(50, 62, 85);
	}

	.prev-btn {
	left: 0;
	}

	.next-btn {
	right: 0;
	}
	.formulaire {
		max-width: 100%;
		max-height: 80vh;
		width: 100%;
		border: none;
	}
