@import url('https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins&family=Rowdies&display=swap');


	  	body {
			width:100%;
		}
		.page__hero--overlay {
			background-image: url(IMAGES/BG.png);
		  	background-color:#002E90;
		}

		}
		html {
			color: white;
			font-family: 'Source Sans Pro', sans-serif;
			padding: 35px;
		}
		a {
			color: #C4C4C4;
		}
		.menu {
			font-family: 'MenuTitres';
		}
			
		@font-face {
    			font-family: MenuTitres;
    			src: url("LeagueGothicRegular.otf") format("opentype");
		}
		small {
			color: white;
		{
