@import url('https://fonts.googleapis.com/css?family=Quicksand|Source+Sans+Pro&display=swap');

		.footer {
			color:#ffffff;
		}
		.footerhbfl {
			font-family: 'Unbounded', cursive;
			color: #ffffff;
		}
		a {
			color : #ffffff;
		}
		body {
			width:100%;
			background-color:#303030;
		}
		p, ul, li, code {
			color: white;
			font-family: 'Source Sans Pro', sans-serif;
		}
        h1, h2, h3, h4, h5 {
            color: white;
            font-family: 'Unbounded', cursive;

	        }
		.page {
			padding-right: 10%;
			padding-left: 10%;
			width: 100%;
		}
		.navbar navbar-expand-sm navbar-light bg-light {
			margin-top: 100px;
    		z-index: 0;
			position: absolute;
			background-color:#000000;
			color:#ffffff;
		}
    	footer {
           	padding: 20px;
			padding-top: 10px;
            margin-top: 5px;
            background-color:#343a40;
		}
		.about {
			text-align: justify;
			padding-left: 150px;
			padding-right: 150px;
		}
		.head {
			background-color:#ffe600;
			color:#000000;
		}
		head {
			position: absolute;
			top: 30px;
			left: 30px;
			text-align: justify;
			padding: 45px;
			color: black;
		}
		small {
			color: white;
		}
		img {
    			max-width: 100%;
    			height: auto;
		}
		.navbar-brand {
			font-family: 'Unbounded', cursive;
		}
		.hrsmall {
			width: 315px;
		}
		.hrverysmall {
			width: 85px;
		}
		.top {
			padding-top: 5px;
			text-shadow: 2px 2px 4px #000000;
		}
		.indicatortxt {
			font-family: 'Unbounded', cursive;
			color: white;
		}
		.indicator {
			color: white;
			padding-left: 70px;
			padding-top: 10px;
			padding-bottom: 10px;
			background-color: #3b3b3b;
		}
		div.gallery {
			border-radius: 15px;
			border: 1px solid #ccc;
			width: 180px;
			background-color: white;
			margin: 8px auto;
			float: left;
		}
		div.gallery:hover {
			border: 1px solid #777;
		}

		div.gallery img {
			width: 100%;
			height: auto;
			border: 1px solid #000;
			border-radius: 15px;
		}	

		div.desc {
			padding: 15px;
			text-align: center;
		}
		table, td {
			border: 1px solid #fff;
			color: white;
			padding: 10px;
			text-align: center;
		}

		thead, tfoot {
			background-color: #333;
			color: #fff;
			text-align: center;
		}
		.hekate {
			margin-top: 25px;
		}
		.os {
			text-align: justify;
		}
		.gallery-title {
			color: black;
			padding-left: 10px;
			padding-right: 10px;
		}
		.gallery-small {
			color: black;
		}
		.img-grid {
			margin-top: 15px;
			border-radius: 50px;
			border: 1px solid #000
		}
		.img-grid-square {
			margin-top: 15px;
			border-radius: 15px;
		}
		.grid-title {
			padding-top: 7px;
			
		}
		.grid {
			width:335px;
			height:250px;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px auto;	
		}
		.grid-desc {
			color: white;
			margin: 3px;
		}
		.grid-small {
			color: white;
		}
		.grid-bigger {
			width:355px;
			height:290px;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px auto;
			text-shadow: 2px 2px 4px #000000;
		}
		.grid-social {
			color: white;
			margin: 3px;
		}
		.grid-presta {
			width:345px;
			height:380px;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px auto;
			text-shadow: 2px 2px 4px #000000;
		}
		.credits-name {
			font-family: 'Unbounded', cursive;
		}
		.credits {
			padding-right: 15%;
			padding-left: 15%;
		}
		body.en :lang(fr) {
			display: none;
		}
		body.fr :lang(en){
			display: none;
		}
		input {
			background-color: #303030;
			border-radius: 7px;
			border: 1px solid #fff;
			margin: 0px;
			height: 60px;
		}
		form {  
			color: white;
			padding-left: 15%;
			padding-right: 15%;
		}
		.input {
			color:white;
			background-color: #303030;
		}
		.submit {
			color: white;
		}
		.xawselect {
			background-color: #303030;
			border: 1px solid #fff;
			height: 60px;
			width: 80px;
			color: white;
			text-align: center;
			border-radius: 7px;
		}
		.grid-packs {
			width:80%;
			height:27%;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px auto;
		}
		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.grid-packs-bigger {
			width:80%;
			height:35%;
			float: left;
			border-radius: 10px;
			border: 1px solid #fff;
			margin: 8px auto;
		}
		.center {
			text-shadow: 2px 2px 4px #000000;
		}
		.top-img {
			padding-left: 20%;
			padding-top: 65px;
			padding-bottom: 25px;
			color: white;
			background-image: url(https://hbf-files.github.io/hb_bg.png);
			text-shadow: 2px 2px 4px #000000;
			background-repeat:no-repeat;
			background-size:cover;
		}
		.disbob {
			border-radius: 15px;
		}
		.hr-top {
			background-image: linear-gradient(90deg, #066ddc, #d8d8d8, #ff5558);
			height: 8px;
			padding-top: 0px;
			margin-top: 0px;
		}
		.hr-title {
			background-color: white;
			height: 2px;
			border-radius: 5px;
			width: 32%;
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
		}
		.warning-2 {
			background-color: #fff006;
		}
		.warn-text {
			color: black;
		}
		.page__footer-follow {
			color: black;
		}
		.gallery-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
        #cookie-box {
            position: fixed;
            bottom: 20px;
            left: 20px;
            padding: 10px;
            border: 1px solid #fff;
            display: none;
	    border-radius: 15px;
  	    background-color: rgba(0, 0, 0, 0.5);
        }
        .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        #cookie-box p {
            margin: 0;
            padding: 5px 10px;
        }

        #accept-btn {
            background-color: #2ECC71;
            color: #ffffff;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
	    margin: 0 5px;
            border-radius: 10px;
	}
        #decline-btn {
            background-color: #CD5C5C;
            color: #ffffff;
            border: none;
            padding: 8px 16px;
            cursor: pointer;
	    margin: 0 5px;
	    border-radius: 10px;
	}

.banner-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.h1slide {
  text-align: center;
  padding: 10px;
}


.slideshow {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.slide {
  flex-shrink: 0;
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 6px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.slide-fade {
  animation: fade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
